In [1]:
import pandas as pd

In [2]:
url = 'nhanes_2015_2016.csv'
df = pd.read_csv(url)

In [3]:
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [10]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [6]:
df['BMXWT'].mean()

81.34267560889516

In [8]:
df['DMDEDUC2'].unique() # Categorial Ordered

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [12]:
g = df['RIAGENDR'] # Categorial Unordered Grnder
g

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [13]:
g = df['RIAGENDR'].unique() # Categorial Unordered Grnder
g

array([1, 2])

# One Hot Encoding

In [14]:
B = ['bird', 'cat', 'dog', 'fish', 'horse', 'snake','bird']
d = {'categorial' : B}
df = pd.DataFrame(d)
df

  categorial
0       bird
1        cat
2        dog
3       fish
4      horse
5      snake
6       bird

In [21]:
dfDummies = pd.get_dummies(df['categorial'], prefix='category')
dfDummies = dfDummies.astype(int)
dfDummies

,category_bird,category_cat,category_dog,category_fish,category_horse,category_snake
0,1,0,0,0,0,0
1,0,1,0,0,0,0
2,0,0,1,0,0,0
3,0,0,0,1,0,0
4,0,0,0,0,1,0
5,0,0,0,0,0,1
6,1,0,0,0,0,0

In [22]:
dfDummies.values

array([[1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0]])

In [23]:
dfDummies = pd.get_dummies(df['categorial'], prefix='category')
# dfDummies = dfDummies.astype(int)
dfDummies

,category_bird,category_cat,category_dog,category_fish,category_horse,category_snake
0,True,False,False,False,False,False
1,False,True,False,False,False,False
2,False,False,True,False,False,False
3,False,False,False,True,False,False
4,False,False,False,False,True,False
5,False,False,False,False,False,True
6,True,False,False,False,False,False

In [24]:
dfDummies.values

array([[ True, False, False, False, False, False],
       [False,  True, False, False, False, False],
       [False, False,  True, False, False, False],
       [False, False, False,  True, False, False],
       [False, False, False, False,  True, False],
       [False, False, False, False, False,  True],
       [ True, False, False, False, False, False]])