In [2]:
#Create dataframe using lists
import pandas as pd
data = ["Shahzaib","Hasssan","is a"]
df = pd.DataFrame(data)
df

          0
0  Shahzaib
1   Hasssan
2      is a

In [4]:
# Create dataframe using dictionary
data = {'Name' :["Shahzaib","Ali","Ahsan"],
        'Father Name' :["Shabbir", "Hassan", "Saleem"]}
df = pd.DataFrame(data)
df

       Name Father Name
0  Shahzaib     Shabbir
1       Ali      Hassan
2     Ahsan      Saleem

In [6]:
# Nested list and assigning cloumns
data = [['Shahzaib',25],['Ahsan',30]]
df = pd.DataFrame(data,columns=['Name','Marks'])
df

       Name  Marks
0  Shahzaib     25
1     Ahsan     30

In [7]:
# column selection
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],
'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data)
print(df['Name'])

0       Jai
1    Princi
2    Gaurav
3      Anuj
Name: Name, dtype: object

In [10]:
# Example Assigning different index names
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

df = pd.DataFrame(data,index=["Love","You","My","Afnan"])
df

        Name  Age
Love     Tom   28
You     Jack   34
My     Steve   29
Afnan  Ricky   42

In [17]:
# Example nested dictinary in list
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20, 'd' : 99}]
df = pd.DataFrame(data)
df

   a   b     c     d
0  1   2   NaN   NaN
1  5  10  20.0  99.0

In [20]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
# Adding a new column to an existing DataFrame object with column label by‚ê£
print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print('\n\n')
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN



Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN