In [2]:
# Program to remove all duplicate elements from a list
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]

#remove duplicates
list1 = list(set(list1))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]
seen = set()
new_list = [item for item in list1 if item not in seen and not seen.add(item)]
print(new_list)

[1, 2, 4, 5, 6, 8, 3, 7, 9, 10]

In [5]:
# Program to find maximum, minimum of a list
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]
print(max(list1))
print(min(list1))

10
1

In [8]:
# Program to find second largest number in a list
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]
list1.sort()
print(list1[-2]) #O(nlogn)

9

In [11]:
largest = 0
second_largest = 0
for item in list1:
    if item > largest:
        second_largest = largest
        largest = item
    elif item > second_largest:
        second_largest = item
print(second_largest) #O(n)

9

In [18]:
# Program to find nth largest number in a list
num = int(input("Enter the value of n: "))
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]
list1 = list(set(list1))
print(list1[-num])

8

In [21]:
# Program to find median of a list
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]

list1.sort()
if len(list1)%2 == 0:
    median = (list1[int(len(list1)/2)] + list1[int(len(list1)/2)-1])/2
else:
    median = list1[int(len(list1)/2)]
print(median)

5.0

In [ ]:
# Program to find mode of a list
list1 = [1,2,1,2,4,5,6,8,3,4,5,6,7,8,9,10]

In [13]:
# Write a program to print the length of a list.
list1 = [12,34,5,6,7,8,9,44,5,5,6,7,87,88,7,6,566,55,4,4,3,33434,43,34343,43,434,2,313,344435,465768,8]
print(len(list1))
list1

31

[12,
 34,
 5,
 6,
 7,
 8,
 9,
 44,
 5,
 5,
 6,
 7,
 87,
 88,
 7,
 6,
 566,
 55,
 4,
 4,
 3,
 33434,
 43,
 34343,
 43,
 434,
 2,
 313,
 344435,
 465768,
 8]

In [14]:
# Write a program to add an element to the beginning of a list.
list1.insert(0,2334)
print(list1 ,end=" ")

[2334, 12, 34, 5, 6, 7, 8, 9, 44, 5, 5, 6, 7, 87, 88, 7, 6, 566, 55, 4, 4, 3, 33434, 43, 34343, 43, 434, 2, 313, 344435, 465768, 8]

In [16]:
list1.reverse()
list1.append(233)
list1.reverse()
print(list1 ,end= " ")

[233, 233, 2334, 12, 34, 5, 6, 7, 8, 9, 44, 5, 5, 6, 7, 87, 88, 7, 6, 566, 55, 4, 4, 3, 33434, 43, 34343, 43, 434, 2, 313, 344435, 465768, 8]

 1. list.insert(0, elem) for small lists  (for simplicity)
 2. fruits.reverse(); fruits.append(elem); fruits.reverse()  for larger lists (for efficiency)

In [36]:
# Write a program to add an element to the end of a list.
list1 = [11,12,13]
list1.append(1)

In [37]:
list1

[11, 12, 13, 1]

In [39]:
# Write a program to remove an element from the beginning of a list.
list1 = [12,13,14]
list1.remove(12)
list1

[13, 14]

In [41]:
list1.pop()

14

In [42]:
list1 = [12,13,14,15]
list1.reverse()
list1.pop()
list1.reverse()

In [43]:
# Write a program to remove an element from the end of a list.
list1 = [12,13,14,123]
list1.pop()

123

In [44]:
# Write a program to find the index of an element in a list.
list1.index(12)

0

In [48]:
# Write a program to sort a list in ascending order.
list1=[122,12,11,1,10]
list1.sort()
list1

[1, 10, 11, 12, 122]

In [50]:
# Write a program to sort a list in descending order.
list1.sort(reverse=True)
list1

[122, 12, 11, 10, 1]

In [54]:
# Write a program to reverse the order of a list.
list1 = [12,12,34,5,6,7,777,543,111234]
list1[::-1]
# Recommended Method

[111234, 543, 777, 7, 6, 5, 34, 12, 12]

In [55]:
# Write a program to print all the elements in a list that are even.
even = [x for x in list1 if x % 2 == 0]
even

[12, 12, 34, 6, 111234]

In [56]:
# Write a program to print all the elements in a list that are odd.
odd = [x for x in list1 if x % 2 != 0]
odd

[5, 7, 777, 543]

In [57]:
# Write a program to print all the elements in a list that are greater than a given number.
greater = [x for x in list1 if x > 100]
greater

[777, 543, 111234]

In [58]:
# Write a program to print all the elements in a list that are less than a given number.
less = [x for x in list1 if x < 1000]
less

[12, 12, 34, 5, 6, 7, 777, 543]

In [59]:
# Write a program to find the sum of all the elements in a list.
sum(list1)

112630

In [62]:
# Write a program to find the average of all the elements in a list.
avg = sum(list1)/len(list1)
avg

12514.444444444445

In [5]:
# 2. Given a list of strings, find the length of the longest string. 
list1 = ["hello","world","this","is","a","list","of","strings"]
max(list1,key=len)
list1.sort(key=len , reverse=True)
list1.sort(key=len)
list1

['a', 'is', 'of', 'this', 'list', 'hello', 'world', 'strings']

In [6]:
# Given a list of numbers, find the product of all the elements.
list1 = [1,2,3,4,5,6,7,8,9,10]
product = 1
for item in list1:
    product *= item
product

3628800

In [7]:
# 4. Given a list of booleans, count the number of True values.
list1 = [True,False,True,True,False,True,False,True,True,False,True,False,True,True,False,True,False]

count = 0
for item in list1:
    if item == True:
        count += 1
count

10

In [8]:
# 5. Given a list of strings, join all the strings into a single string separated by spaces.
list1 = ["hello","world","this","is","a","list","of","strings"]
" ".join(list1)

'hello world this is a list of strings'

In [10]:
# 8. Given two lists of numbers, find the list with the larger sum.
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [11,12,13,14,15,16,17,18,19,20]
if sum(list1) > sum(list2):
    print("list1")
else:
    print("list2")

list2

In [12]:
# 9. Given a list of strings, find the string with the most vowels.
list1 = ["hello","world","this","is","a","list","of","strings"]

def vowel_count(string):
    count = 0
    for char in string:
        if char in "aeiou":
            count += 1
    return count

max(list1,key=vowel_count)

'hello'

In [13]:
# 10. Given a list of numbers, reverse all the elements in the list.
list1 = [1,2,3,4,5,6,7,8,9,10]
list1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
list1.reverse()
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
# 11. Given a list of tuples, sort the list by the second element of each tuple.
list1 = [(1,19),(3,4),(5,6),(7,8),(9,10)]
list1.sort(key=lambda x:x[1])
list1

[(3, 4), (5, 6), (7, 8), (9, 10), (1, 19)]

In [31]:
# 12. Given a list of strings, remove all consecutive duplicate elements from the list.
list1 = ["hello","hello","world","world","this","this","is","is","a","a","list","list","of","of","strings","strings"]
list1 = list(set(list1))
list1

['hello', 'world', 'of', 'strings', 'is', 'this', 'list', 'a']

In [33]:
# 13. Given a list of numbers, find the numbers that are greater than the average.
list1 = [1,2,3,4,5,6,7,8,9,10]
avg = sum(list1)/len(list1) 
greater = [x for x in list1 if x > avg]
greater

[6, 7, 8, 9, 10]

In [35]:
# 14. Given a list of strings, filter out all strings that contain the letter 'a' or 'e'.  
list1 = ["hello","world","this","is","a","list","of","strings"]
list1 = [x for x in list1 if "a" in x or "e" in x]
list1

['hello', 'a']

In [43]:
# 15. Given a list of tuples, extract only the first elements of each tuple into a new list.
list1 = [(1,2),(3,4),(5,6),(7,8),(9,10)]

list2 = [x[0] for x in list1 ]
list2

[1, 3, 5, 7, 9]