In [1]:
# Create a set of the first 10 even numbers.
set1 = set(range(0, 20, 2))
print(set1)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [11]:
# Create a set of the vowels in the English alphabet.
a = {'a','e','i','o','u'}
type(a)

set

In [12]:
# Create a set of all the unique words in a given sentence.
sentence = "The quick brown fox jumps over the lazy dog and the sleeping cat early in the day. The dog and the cat are friends."
words = sentence.split()
unique_words = set(words)
print(unique_words)

{'day.', 'the', 'sleeping', 'in', 'fox', 'dog', 'over', 'lazy', 'and', 'early', 'friends.', 'quick', 'The', 'jumps', 'cat', 'brown', 'are'}

In [14]:
# Find the intersection of two sets.
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.intersection(set2)

{4, 5}

In [15]:
# Find the union of two sets.
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
# Find the difference between two sets.
set1.difference(set2)

{1, 2, 3}

In [17]:
# Find the symmetric difference between two sets.
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}

In [18]:
# Check if a set is a subset of another set.
set1.issubset(set2)

False

In [19]:
# Check if a set is a superset of another set.
set1.issuperset(set2)

False

In [20]:
# Check if two sets are disjoint.
set1.isdisjoint(set2)

False

In [24]:
# Create a set of all the numbers from 1 to 100 that are divisible by 3.
set1 = {x for x in range(1,101) if x % 3 == 0}
set1

{3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}

In [31]:
# Create a set of all the letters in the word "Python".
word = "Python"
letters = set(word)
letters

{'P', 'h', 'n', 'o', 't', 'y'}

In [33]:
# Create a set of all the unique numbers in a given list.
list = [1,1,2,3,4,4,5,6,7,7,8,9,10,11,12,12,13,13,14]
unique = set(list)
unique

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [36]:
# Find the intersection of a set and a list.
a = set1.intersection(list)
a

{3, 6, 9, 12}

In [39]:
# Find the union of a set and a list.
a = set1.union(list)
a

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}

In [40]:
# Find the difference between a set and a list.
diff = set1.difference(list)
diff

{15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}

In [41]:
# Find the symmetric difference between a set and a list.
sym_diff = set1.symmetric_difference(list)
sym_diff

{1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}

In [42]:
# Check if a set is a subset of a list.

sub = set1.issubset(list)
sub

False

In [43]:
# Check if a set is a superset of a list.
sup = set1.issuperset(list)
sup

False

In [44]:
# Check if two sets are disjoint.
set2 = {x for x in range(101,201) if x % 3 == 0}
disjnt = set1.isdisjoint(set2)
disjnt

True

In [50]:
# Create a set of all the prime numbers from 1 to 100.
prime_nums = {num for num in range(2, 101) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))}
prime_nums

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}

In [54]:
# Create a set of all the Fibonacci numbers up to 100.

def fib(n):
    a , b = 0, 1
    set1 = set()
    while a+b <= n:
        a, b = b, a+b
        set1.add(a)
    return set1

fib(100)

{1, 2, 3, 5, 8, 13, 21, 34, 55}